// Mixins in here
.flex(){
    display: flex;
    justify-content: space-between;
}

.btn-style( @color, @font-color){
    background-color: @color;
    width:90%;
    height: 20%;
    font-size: 1.7rem;
    color: @font-color;
    border-radius: 10px;
    text-align: center;
   
    
}